@import 'src/myTools/colors.scss';

.line {
    width: 56px;
    height: 2px;
    border-radius: 10px;
}

.dark {
    background-color: $color-divider;
}

.light {
    background-color: $color-divider-light;
}