$color-primary: #458FF6;
$color-background: #FFFFFF;
$color-card-bg: #FFFFFF;
$color-divider: #000000;
$color-divider-light: #FFFFFF;
$color-avatar-border: #FFFFFF;

$blue-gradient-1: #67C3F3;
$blue-gradient-2:  #5A98F2;

$color-text-title: #000000;
$color-text: #7D7987;
$color-text-light: #FFFFFF;

$color-logo-bg: #458FF6;
$color-logo-letter: #FFFFFF;
$color-logo-title: #233348;
$color-logo-bg-light: #FFFFFF;
$color-logo-letter-light: #458FF6;
$color-logo-title-light: #FFFFFF;

$color-navbar-selected:rgba(31, 21, 52, 1);
$color-navbar-not-selected: rgba(31, 21, 52, 0.5);

$color-button-filled-bg: #458FF6;
$color-button-blank-bg: transparent;
$color-button-hover-bg: #8abafc;
$color-blank-button-hover-bg: #e2eeff;

$color-shadow: rgba(229, 233, 246, 0.4);

$color-background-card: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);

$color-role: rgba(255, 255, 255, 0.85);
$color-review: rgba(255, 255, 255, 0.90);