@import 'src/myTools/colors.scss';
@import 'src/myTools/size.scss';

.header {
    display: flex;
    justify-content: center;
    background: $color-background;
    width: 100%;
    gap: 400px;
    height: 150px;

    .logo_block {
        display: flex;
        align-items: center;
        font-size: $logo_title__font_size;
        font-weight: $large_font_weight;
        gap: 12px;
    
        .circle {
            display: flex;
            background-color: $color-logo-bg;
            width: 41px;
            height: 41px;
            align-items: center;
            justify-content: center;
            border-radius: 22px;
    
            color: $color-logo-letter;
            font-size: $logo_letter_font_size;
        }
    
        .light_text {
            color: $color-logo-title;
        }
    }
    
    .nav {
        display: flex;
        align-items: center;

        .ul {
          list-style: none;
          
            li {
                display: inline;
                margin-right: 40px;

                .selected {           
                    color: $color-navbar-selected;
                    font-weight: $large_font_weight;
                }
    
                a {
                    text-decoration: none;
                    font-size: $menu_font_size;
                    font-weight: $normal_font_weight;
                    color: $color-navbar-not-selected;
            
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}