@import 'src/myTools/colors.scss';

.points {
    display: flex;
    flex-direction: row;
    gap: 18px;

    .point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cee1fc;
    }

    .active {
        background-color: #5b9bf3;
    }
}